* {
    margin : 0;
    font-family: 'Ubuntu', sans-serif;
}

body { 
    background: linear-gradient(#65AFFF, rgb(51, 92, 129)) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
}

.navbar.solid {
    background-color:rgba(101, 175, 255, 0.9);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.card {
    background-color: rgb(255 , 255, 255);
    border : none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
}

.card-header {
    background-color: #274060;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;   
    font-weight: 900;
}

.nav-link {
    color: #335C81;
}

.nav-link:hover {
    color : #1B2845;
}

.ReactTable .-pagination .-btn {
    color: #fff;
    background: #6c757d;
    border-color: #6c757d;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
    color: #fff;
    background: #5a6268;
    border-color: #545b62;
}